
 <!-- Navbar Start -->
 <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="{% url 'home' %}" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>E-learning</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == '/'%} active {% endif %}">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link {% if request.path == '/about/'%} active {% endif %}">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Courses</a>
                    <div class="dropdown-menu m-0">
                        {% for course in courses %}
                            <a href="{% url 'content' course.id  %}" class="dropdown-item">{{ course.name|title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link {% if request.path == '/contact/'%}active{% endif %}">Contact</a>
            </div>
            <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->